.navbar {
    background: #0d3e4a;
}

body {
    background: #1F1F23;
}

.container {
    color: #fff;
}

footer {
    background-color: #0d3e4a;
}


.modal-content {
    background-color: #1e2229!important;
}
